
<div style="width:300px;margin-left: auto;margin-right: auto;">
  <h3 style="margin-left :10px"> Login <h3>
<fieldset>
<%= form_for @user ,:url => 'users/login' do |f|  %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :user_type %><br />
    <%= f.select(:user_type,["company","agent"]) %>
  </p>
  <p><%= f.submit "Login" %>
<% end %>
  <%= link_to "Create User",:action => 'new' %>
</fieldset>
</div>


