<% title "User" %>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
<p>
  <strong>Type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> 

</p>
